@model IEnumerable<PHBC.DAO.Models.QuanHuyen>
@using Webdiyer.WebControls.Mvc;
@using PHBC.Web.Permission;
@using PHBC.Web.Constants
@{
    ViewBag.Title = Application.ButtonLabel.List + ViewBag.TitleName;

    PHBC.DAO.BDieuChinhKHXBDetail objDetail = new PHBC.DAO.BDieuChinhKHXBDetail();
    if (ViewBag.ThongTinBao != null)
    {
        objDetail = (PHBC.DAO.BDieuChinhKHXBDetail)ViewBag.DieuChinhDetail;
    }

    PermissonController permisson = ViewBag.Permisson as PermissonController;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @Application.ButtonLabel.List @ViewBag.TitleName
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="btn-toolbar col-md-7">
                @if (ViewBag.UnitForm != null && ViewBag.UnitForm == "0")
                {
                    @Html.CustomLink("Thiết lập lại phân hướng nhu cầu", ActionType.Edit + (string)ViewBag.SubAction, permisson, new { provincecode = ViewBag.ProvinceCode, DieuChinhKHXBDetailId = ViewBag.DieuChinhKHXBDetailId }, new { @class = Application.ButtonClass.Default })
                }

            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <div class="row" style="float:right;margin-right:5px;">
                    <div class="input-group">
                        <input type="text" id="provinceName" name="provinceName" class="form-control" placeholder="Tìm kiếm" />
                        <div class="input-group-btn">
                            <div class="btn btn-info searchProvince">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            @if (@objDetail.Id != null)
            {
                <p>
                    <label>Tên Báo: </label>
                    <label>@objDetail.Id</label>
                </p>
            }
        </div>

        <br />
        @if (ViewBag.UnitForm != null && ViewBag.UnitForm == "0")
        {
            @Html.Partial("_viewDetailDistricts", Model)
            @Html.ActionLink(Application.ButtonLabel.Back, "Index" + (string)ViewBag.SubAction, "DieuChinhPHNC", new { Area = "Bao", DieuChinhKHXBDetailId = ViewBag.DieuChinhKHXBDetailId }, new { @class = "btn btn-default" })
        }
        else if (ViewBag.UnitForm != null && ViewBag.UnitForm == "1")
        {
            @Html.Partial("_viewDetailUnit", Model)
            @Html.ActionLink(Application.ButtonLabel.Back, "Details" + (string)ViewBag.SubAction, new { DieuChinhKHXBDetailId = ViewBag.DieuChinhKHXBDetailId, provincecode = ViewBag.ProvinceCodeDetail }, new { @class = "btn btn-default" })
        }

        @*<button id="back" class="btn btn-default" onclick="window.history.go(-1); return false;">@Application.ButtonLabel.Back</button>*@
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/PHBC/phbc_phnc2.js"></script>
    <script>
        $(document).ready(function () {
            search_phnc();
        })
    </script>
}