@using PHBC.Web.Permission;
@model PHBC.DAO.Models.MenuModel
@using PHBC.Web.Constants
@{
    ViewBag.Title = Application.ButtonLabel.Details + ViewBag.TitleName;
    PermissonController permisson = ViewBag.Permisson as PermissonController;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>@Application.ButtonLabel.Details @ViewBag.TitleName</h2>
    </div>

    <div class="panel-body">
       
        @Html.Partial("_viewDetail", Model)
        <p>
@if (permisson.hasPermisson(ActionType.Edit))
                    {
            @Html.ActionLink(Application.ButtonLabel.ToEdit, "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) 
}  
            @Html.ActionLink(Application.ButtonLabel.Back, "Index", null, new { @class = "btn btn-default" })
        </p>
</div>
</div>