@model IEnumerable<PHBC.DAO.Models.TinhThanh>
@using Webdiyer.WebControls.Mvc;
@using PHBC.Web.Permission;
@using PHBC.Web.Constants
@{
    ViewBag.Title = Application.ButtonLabel.List + ViewBag.TitleName;
    string curProvinceCode = "";
    string curDistrictCode = "";
    PHBC.DAO.BThongTinBao objBao = new PHBC.DAO.BThongTinBao();
    if (ViewBag.ThongTinBao != null)
    {
        objBao = (PHBC.DAO.BThongTinBao)ViewBag.ThongTinBao;
    }

    PermissonController permisson = ViewBag.Permisson as PermissonController;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @Application.ButtonLabel.List @ViewBag.TitleName
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="btn-toolbar col-md-7">
                @Html.CustomLink(Application.ButtonLabel.Create + (string)ViewBag.TitleName, ActionType.Create, permisson, new { MaBao = objBao.Id }, new { @class = Application.ButtonClass.Default })
                
            </div>
            
            </div>
        <br/>
        
        <div class="input-group">
            <input type="text" id="provinceName" name="provinceName" class="form-control" placeholder="Tên Tỉnh" />
            <div class="input-group-btn">
                <div class="btn btn-info searchProvince">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
        </div>

        <div>
            @if (@objBao.TenBao != null)
            {
                <p>
                    <label>Tên Báo: </label>
                    <label>@objBao.TenBao</label>
                </p>
            }
        </div>

        <br/>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <colgroup>
                    <col style="width: 20px;" />
                    <col style="width: 20px;" />
                </colgroup>
                <tr>
                    <td colspan="2" valname="">Tổng số tỉnh : @Model.Count() ( Số huyện đã thiết lập: @Model.Sum(t => t.CountDistrictMap) / Tổng số huyện: @Model.Sum(t => t.lstQuanHuyen.Count))</td>
                </tr>
                @foreach (var item in Model)
                {
                    if (item.ProvinceCode != curProvinceCode)
                    {
                        curProvinceCode = item.ProvinceCode;
                        bool check = item.CountDistrictMap == item.lstQuanHuyen.Count;
                        <tr class="@(check ? "active" : "info")">
                            <td valname="@Html.replaceUnicode(item.ProvinceName) @item.ProvinceName"><b>@item.ProvinceName</b> - <span title="số huyện đã thiết lập/ tổng số huyện">(@item.CountDistrictMap / @item.lstQuanHuyen.Count huyện) </span></td>
                            <td valname="@Html.replaceUnicode(item.ProvinceName) @item.ProvinceName">
                                @if (item.CountDistrictMap > 0)
                                {
                                    if (item.CountDistrictMap < item.lstQuanHuyen.Count)
                                    {
                                        @Html.CustomLink("", ActionType.Create, permisson, new { provincecode = item.ProvinceCode, Mabao = ViewBag.MaBao }, null, Application.ButtonIcon.Create, "Thiết lập phân hướng")@:
                                    }
                                    @Html.CustomLink("", ActionType.Edit, permisson, new { provincecode = item.ProvinceCode, Mabao = ViewBag.MaBao }, null, Application.ButtonIcon.ToEdit, "Sửa huyện đã thiết lập") @:
                                    @Html.CustomLink("", ActionType.Details, permisson, new { provincecode = item.ProvinceCode, Mabao = ViewBag.MaBao }, null, Application.ButtonIcon.Details, Application.ButtonLabel.Details) @:




                                }

                                else
                                {
                                    @Html.CustomLink("", ActionType.Create, permisson, new { provincecode = item.ProvinceCode, Mabao = ViewBag.MaBao }, null, Application.ButtonIcon.Create, "Thiết lập phân hướng")
                                }
                            </td>

                        </tr>
                    }

                }

            </table>
        </div>

    </div>
</div>
@section Scripts {
   <script src="~/Scripts/PHBC/phbc_phnc2.js"></script>
<script>
    $(document).ready(function () {
        search_phnc();
    })
</script>

    }